$white:    #fff    !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000    !default;
$indigo:   #6610f2 !default;
$purple:   #6f42c1 !default;
$pink:     #e83e8c !default;
$orange:   #fd7e14 !default;
$yellow:   #ffc107 !default;
$teal:     #20c997 !default;
$cyan:     #17a2b8 !default;

// Oru specific colors
$blue-light: #4991d2 !default;
$blue:       #2e78ba !default;
$blue-dark:  #0c0c0c !default;
$gray-light: #f4f4f4 !default;
$gray:       #dadada !default;
$gray-dark:  #5e6168 !default;
$red:        #d41217 !default;
$green:      #2a7b3e !default;

$bgGray:     #f9f9f8 !default;

// Color-variables
$primary:       $blue !default;
$secondary:     $gray !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-light !default;
$dark:          $gray-dark !default;
$backgroundColor: $bgGray !default;
$footerColor:   $gray-dark !default;

// Theme colors
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
);

// Links
$link-color:            theme-color("primary") !default;
$link-hover-color:      $blue-dark;

// Tooltips
$tooltip-color:   $white !default;
$tooltip-bg:      $dark !default;
$tooltip-opacity: 1.0 !default;