// container for jumbotron
.container .jumbotron-fc{
  border-radius: 35px !important;
  background-color: $white;
  border-style: solid;
  border-width: thin;
  min-height: 5% ;
  height: 1%;
  position: relative;

}
