// container for jumbotron
.container .jumbotron-fc{
  border-radius: 35px !important;
  background-color: $white;
  border-style: solid;
  border-width: thin;
  padding-top: 15px;
  padding-bottom: 5%;
  position: relative;

}
