// Custom modules
@import "colors";
@import "navbar";
@import "jumbotron";
@import "tagsInput";
@import "tags";
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss";

// Global styles
* {
    border-radius: 0 !important;
    body {
      padding-bottom: 7em;
    }
  }

.center-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.text-title {
  margin-bottom: 1em;
}

// Include Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

