<h3>File upload</h3>
<input type="file" (change)="getFile($event)" accept="image/*">
<br>
<canvas #previewcanvas width="50px" height="50px" style="border: 1px solid gray;"></canvas><div class="progress" >
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'"
        [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100">
    </div>
</div>
<!--TODO: Koden nedan ska köras när filen har lyckats ladda upp men får det ej att funka.-->
<!-- <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
    File uploaded:
    <a [href]="downloadSrc">{{downloadSrc}}</a>
</div> -->
<br>

