<div class="form-row">
    <!-- essential skills -->
    <div class="col-sm-6">
      <label for="essential-skills">Kompetenskrav</label>
      <div class="row">
        <div class="col">
          <button Primarytype="button" class="btn btn-primary btn-sm tag tag-essential"
                  #tagEssential
                  (mouseup)="removeEnteredTag(tagEssential)"
                  *ngFor="let tag of storedTags.essentials">{{ tag }}</button>
        </div>
      </div>
    </div>
    
    <!-- complimentary skills -->
    <div class="col-sm-6">
      <label for="complementary-skills">Meriterande kompetens: </label>
      <div class="row">
        <div class="col">
          <button Primarytype="button" class="btn btn-secondary btn-sm tag tag-complimentary"
                  #tagComplimentary
                  (mouseup)="removeEnteredTag(tagComplimentary)"
                  *ngFor="let tag of storedTags.complimentary">{{ tag }}</button>
        </div>
      </div>
    </div>
  </div>
              
  <div class="form-row">
  
    <div class="col-sm-6">
      <input type="text" class="form-control" id="essentials" #essential
            [(ngModel)]="essentialSkillInput"
            container="body"
            [typeahead]="tags.values"
            (typeaheadOnSelect)="onSelect($event, essential.id, essential)"
            (typeaheadNoResults)="typeaheadNoResults($event)"
            (keyup.enter)="onEnter($event)"
            placeholder="Ange kompetens som etikett">
    </div>
    
    <div class="col-sm-6">
      <input type="text" class="form-control" id="complimentary" #complimentary
            [(ngModel)]="complimentarySkillInput"
            [typeahead]="tags.values"
            (typeaheadNoResults)="typeaheadNoResults($event)"
            (typeaheadOnSelect)="onSelect($event, complimentary.id, complimentary)"
            (keyup.enter)="onEnter($event)"
            placeholder="Ange kompetens som etikett">
    </div>
    
  </div>