<div class="jumbotron">

    <div class="row">

        <div class="col">
            <h1>
                {{ company.name }}
            </h1>
        </div>

        <div class="col">
            <img id="companyPicture" src="{{company.pictureURL}}" 
                class="img-fluid">
        </div>

    </div>

    <br><br>

    <div class="row">

        <div id="leftCol" class="col">

            <div>
                <h3>
                    <span class="badge badge-primary">
                        Hemsida
                    </span>
                </h3>
            </div>
            
            <div class="container">
                <h5>
                    <a class="linko" (click)="goToUrl()">
                        {{ company.url }}
                    </a>
                </h5>
            </div>

            <br><br>

            <div>
                <h3>
                    <span class="badge badge-primary">
                        Om {{ company.name }}
                    </span>
                </h3>
            </div>
        
            <div class="container">
                <h5>
                    {{ company.description }}
                </h5>
            </div>


        </div>

        <div id="rightCol" class="col">

            <div>
                <h3>
                    <span class="badge badge-primary">
                        Examensarbeten
                    </span>
                </h3>
            </div>

            <div class="container">

                <ul class="list-group" id="examworkList" >

                    <button class="btn btn-info" *ngFor="let examWork of company.examWorks"
                            (click)="goToExamWork(examWork._id)">
                        {{ examWork.title }}
                    </button>

                </ul>
                
            </div>
        
        </div>

    </div>



    

    

    <br><br>

    <div>
        <h3>
            <span class="badge badge-primary">
                Kontaktperson
            </span>
        </h3>
    </div>

    <div class="container">

        <h5>
            {{ contact.firstName }}  {{ contact.lastName }}
        </h5>

        <div class="row">

            <div class="col">
                <h5>
                    <a
                        href="mailto:{{ contact.email }}" 
                        target="_blank"> 
                        {{ contact.email }}
                    </a>
                </h5>
            </div>
    
            <div class="col">
                <h5>
                    {{ contact.phoneNbr }}
                </h5>
            </div>

        </div>

    </div>
    
    <br><br>

    <div>
        <button class="btn btn-primary"
                routerLink="/company/profile/edit">
            Redigera profil
        </button>
    </div>

</div>



