<div class="form-group">
  <label for="essential-skills" class="col-sm-2 control-label">Kompetenskrav</label>

  <div class="col-sm-6">
    <button Primarytype="button" class="btn btn-primary btn-sm tag tag-essential"
            #tagEssential
            (click)="removeEnteredTag(tagEssential)"
            *ngFor="let tag of enteredTags.essentials">{{ tag }}</button>
  </div>

  <div class="col-sm-6">
    <input type="text" class="form-control"
          [(ngModel)]="essentialInputElement"
          [typeahead]="availableTags"
          placeholder="Ange kompetens som etikett"
          (typeaheadOnSelect)="onSelectEssential($event)">
  </div>
</div>

<div class="form-group">
  <label for="complementary-skills" class="col-sm-6 control-label">Meriterande kompetens: </label>

  <div class="col-sm-6">
    <button Primarytype="button" class="btn btn-secondary btn-sm tag tag-complimentary"
            #tagComplimentary
            (click)="removeEnteredTag(tagComplimentary)"
            *ngFor="let tag of enteredTags.complimentary">{{ tag }}</button>
  </div>

  <div class="col-sm-6">
    <input type="text" class="form-control"
          [(ngModel)]="complimentaryInputElement"
          [typeahead]="availableTags"
          placeholder="Ange kompetens som etikett"
          (typeaheadOnSelect)="onSelectComplimentary($event)">
    </div>
</div>