<div class="container" style="width: 35%;">
  <div class="jumbotron">

    <h4 id="login-header" class="text-center">Logga in</h4>
    <br>

  <form>
    <div class="form-group">
      <input type="text" class="form-control" id="inputUserName" placeholder="Användarnamn">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="inputPassword" placeholder="Lösenord">
    </div>
    <button type="submit" class="btn btn-primary">Logga in</button>
    <a routerLink="/register-choice" routerLinkActive="active" class="btn btn-primary">Skapa konto</a>
  </form>
  
  </div>