<div class="row">
        <div class="col col-10">
          <h1 class="text-title">Företag - Hitta studenter för examensarbete (sorterad baserat på essentialSkills)</h1>
        </div>
      </div>
      
      <!-- <div class="row justify-content-center">
              <div class="col-sm-10">
                  <div class="card">
                  <div class="card-body">
                      <div class="row">
                          <div class="col col-9">
          
          
                              <div class="input-group mb-3">
      
                                      <input type="checkbox" aria-label="Checkbox for following text input" [(ngModel)]="">
      
                                  <label>Maskiningenjör</label>
                                </div>
          
                      </div>
                  </div>
              </div>
            </div>
            </div>
            </div>
           -->
      
        <div class="row justify-content-center">
            <div class="col-sm-10" *ngFor="let student of students | filter:essSkills">
                <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-9">
          
                            <h6 class="card-subtitle mb-2 text-muted">{{student.name}}</h6>
                            <p class="card-text">
                                <small>
                                    <li>
                                            {{student.description}}
                                    </li>

                                </small>
                            </p>
                            <a routerLink="/students/:id/student-profile" class="btn btn-primary">Gå till profilsidan</a>
                        </div>
                        <div class="col col-3 center-content">
                            <img src="http://via.placeholder.com/140x140" alt="student-profile-picture" class="float-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      </div>
      
      <!-- <table>
          <head>
              <tr>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Salary</th>
                  <th>City</th>
      
              </tr>
      
          </head>
          
          <body>
              <input [(ngModel)]="search" placeholder="search" type="text">
          
              <tr *ngFor="let employee of employees | filter:search">
                                  <td> {{ employee.name }} </td>
                                  <td> {{ employee.gender }} </td>
                                  <td> {{ employee.salary  }} </td>
                                  <td> {{ employee.city  }} </td>
              </tr>
          
          </body>
          
      </table> -->
      