<div class="row">
    <div class="col col-12">
        <h1 class="text-title">Företag - Hem</h1>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-sm-10">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Publicerat examensarbete</h5>
                <p class="card-text">Massa info</p>
                <a routerLink="/company/exam-work/find-students" class="btn btn-primary">Gå till "Hitta studenter" sidan?</a>
            </div>
            <div class="card-footer text-muted">
                Aktiv: 2 dagar
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center new-exam-work">
    <div class="col-sm-10">
        <a routerLink="/company/post-exam-work" type="button" class="btn btn-block btn-outline-success">Publicera nytt examensarbete</a>
    </div>
</div>