<div class="row">
    <div class="col col-12">
    <h1 class="text-title">Student - Hem</h1>
</div>


<div class="row justify-content-center">
    
    <div class="col-sm-10">
        <app-simple-tag (onNewTag)="sortExamWorks($event)"></app-simple-tag>
    </div>

    <div class="col-sm-10" *ngIf="noWorks">
        <br>
        <h3>
            Hittar inga examensarbeten! Ta bort något nyckelord.
        </h3>
    </div>

    <div class="col-sm-10" *ngFor="let examWork of sortedWorks; let i = index">
        <div class="card" *ngIf="i < showLimit">
        <div class="card-body">
            <div class="row">
                <div class="col col-9">
                    <h5 class="card-title">{{ examWork.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ examWork.company.name }}</h6>
                    <p class="card-text">
                        <small>
                            {{ examWork.description }}
                        </small>
                    </p>
                    <a [routerLink]="['/student/view-exam-work', examWork._id]" class="btn btn-primary">Gå till examensarbetet</a>
                </div>
                <div class="col col-3 center-content">
                    <img src="http://via.placeholder.com/140x140" alt="company-logo" class="float-right">
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="col-sm-10" *ngIf="showMoreBtn">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-block"
                                (click)="showMoreWorks()">
                            Läs in fler
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


