/* mixin for multiline
   sauce: http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncatio */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount; 
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    &:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: $bgColor;
    }
  }

.card {
    margin-top: .5em;
    margin-bottom: .5em;

    .description {
        @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);
    }

    &:hover {
        box-shadow: 0px 0px 9px #e0e0e0  !important;
    }

}

.btn-block{
    background-color: #2e78ba;
    color: white;
    margin-top: 2em;
}

.btn-block:hover{
    background-color: #1e4c74;
    color: white;
}

.company-logo {
    padding: 3em;
}

.extra-info {
    margin: 1em 0em 1.9em 0em;
}

.exam-location {
    padding-left: 0.3em;
}