<div class="container">
<div class="jumbotron">
  

    <h4 class="text-center">Logga in</h4>
    <br>

    <form>
      <div class="form-group">
        <input  type="text" 
                class="form-control" 
                id="inputUserName" 
                placeholder="Användarnamn"
                [(ngModel)]="user.username"
                name="username"
                #inputUserName="ngModel"
        >
      </div>
      <div class="form-group">
        <input  type="password" 
                class="form-control" 
                id="inputPassword" 
                placeholder="Lösenord"
                [(ngModel)]="user.password"
                name="password"
                #inputPassword="ngModel"
        >
      </div>

      <div class="alert alert-danger" *ngIf="serverErr">
        Det är problem med servern just nu, försök igen senare.
      </div>

      <div class="alert alert-danger" *ngIf="!validInfo">
        Fel användarnamn/lösenord
      </div>

      <button type="button" (click)="login()"
              class="btn btn-primary">
        Logga in
      </button>
      <a  routerLink="/register-choice" 
          routerLinkActive="active" 
          class="btn btn-primary">Skapa konto</a>
    </form>

  </div>
</div>
<br><br>