<h1>Skapa annons för examensarbete</h1>
<div class="jumbotron">
  <h4>Fyll i information för examensarbetet</h4>
  <br>
  <form>
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Titel</label>
    <div class="col-sm-10">
      <input ngModel required #title="ngModel" type="text" class="form-control" id="title" name="title" value="">
      <div class="alert alert-danger" *ngIf="title.touched && !title.valid">Titel måste vara ifyllt</div>
    </div>
  </div>
  <div class="form-group">
    <label for="location" class="col-sm-2 control-label">Ort</label>
    <div class="col-sm-10">
      <input ngModel required #location="ngModel" type="text" class="form-control" id="location" name="location" value="">
      <div class="alert alert-danger" *ngIf="location.touched && !location.valid">Ort måste vara ifyllt</div>
    </div>
  </div>
  <div class="form-group">
    <label for="applyDueDate" class="col-sm-10 control-label">Sista anmälningsdag</label>
    <div class="col-sm-10">
      <input ngModel required #applyDueDate="ngModel" type="date" class="form-control" id="applyDueDate" name="applyDueDate" value="">
      <div class="alert alert-danger" *ngIf="applyDueDate.touched && !applyDueDate.valid">Sista anmälningsdag måste vara ifyllt</div>
    </div>
  </div>
  <!-- TODO: Byta ut Kompetenskrav och Mertiterande kompetenskrav mot komponent? -->
  <div class="form-group">
    <label for="essentialSkills" class="col-sm-2 control-label">Kompetenskrav</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="essentialSkills" name="essentialSkills" value="">
    </div>
  </div>
  <div class="form-group">
    <label for="complementarySkills" class="col-sm-10 control-label">Meriterande kompetens</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="complementarySkills" name="complementarySkills" value="">
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">Beskrivning</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="4" name="description"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="teachings" class="col-sm-2 control-label">Lärdomar</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="2" name="teachings" placeholder="Vad får studenten chans att lära sig under examensarbetet?"></textarea>
    </div>
  </div>
  <div>
    <br>
    <br>
  </div>

  <h4>Kontaktperson</h4>
  <br>
  <div class="input-group">
    <div class="form-group">
      <label for="contactFirstName" class="col-sm-2 control-label">Förnamn</label>
      <div class="col-sm-10">
        <input ngModel required #contactFirstName="ngModel" type="text" class="form-control" id="contactFirstName" name="contactFirstName" value="">
        <div class="alert alert-danger" *ngIf="contactFirstName.touched && !contactFirstName.valid">Förnamn måste vara ifyllt</div>
      </div>
    </div>
    <div class="form-group">
      <label for="contactLastName" class="col-sm-2 control-label">Efternamn</label>
      <div class="col-sm-10">
        <input ngModel required #contactLastName="ngModel" type="text" class="form-control" id="contactLastName" name="contactLastName" value="">
        <div class="alert alert-danger" *ngIf="contactLastName.touched && !contactLastName.valid">Efternamn måste vara ifyllt</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="contactNumber" class="col-sm-2 control-label">Telefon</label>
    <div class="col-sm-10">
      <input ngModel required #contactNumber="ngModel" type="text" class="form-control" id="contactNumber" name="contactNumber" value="">
      <div class="alert alert-danger" *ngIf="contactNumber.touched && !contactNumber.valid">Telefonnummer måste vara ifyllt</div>
    </div>
  </div>
  <div class="form-group">
    <label for="contactEmail" class="col-sm-2 control-label">E-postadress</label>
    <div class="col-sm-10">
      <input ngModel required #contactEmail="ngModel" type="email" class="form-control" id="contactEmail" name="contactEmail" value="">
      <div class="alert alert-danger" *ngIf="contactEmail.touched && !contactEmail.valid">E-postadress måste vara ifyllt</div>
    </div>
  </div>
  <div class="form-group">
    <br>
    <div class="col-sm-10 col-sm-offset-2">
      <button id="submit" name="submit" type="submit" class="btn btn-primary">Spara</button>
    </div>
  </div>
</form>
</div>