<h1>Skapa annons för examensarbete</h1>

<div class="jumbotron content">
  <h4>Fyll i information för examensarbetet</h4>
 
  <form #form="ngForm" (ngSubmit)="onSubmitAddExamWork(form.value)">

    <!-- title -->
    <div class="form-row">
      <div class="col">
        <label for="workTitle">Titel</label>
        <input ngModel 
                required 
                #workTitle="ngModel" 
                type="text" 
                class="form-control form-control-lg" 
                id="workTitle" 
                name="title" 
                value="">
        <div class="alert alert-danger" *ngIf="workTitle.touched && !workTitle.valid">Titel måste vara ifyllt</div>
      </div>
    </div>

    <div class="form-row">
      <!-- location -->
      <div class="col col-6">
        <label for="workLocation">Ort</label>
          <input ngModel 
                  required 
                  #workLocation="ngModel" 
                  type="text" 
                  class="form-control" 
                  id="workLocation" 
                  name="location" 
                  value="">
          <div class="alert alert-danger" *ngIf="workLocation.touched && !workLocation.valid">Ort måste vara ifyllt</div>
      </div>

      <!-- apply-due-date -->
      <div class="col col-3">
        <label for="workApplyDueDate">Sista anmälningsdag</label>
        <input ngModel 
                required 
                #workApplyDueDate="ngModel" 
                type="date" 
                class="form-control" 
                id="workApplyDueDate" 
                name="applyDueDate" 
                value="">
        <div class="alert alert-danger" *ngIf="workApplyDueDate.touched && !workApplyDueDate.valid">Sista anmälningsdag måste vara ifyllt</div>
      </div>
    </div> <!-- /form-row -->
  
    <app-add-student-skills></app-add-student-skills>

    <!-- description -->
    <div class="form-row">
      <div class="col">
        <label for="workDescription">Beskrivning</label>
        <textarea ngModel 
                  class="form-control" 
                  rows="6" 
                  id="workDescription" 
                  name="description">
        </textarea>
      </div>
    </div>

    <!-- teachings -->
    <div class="form-row">
      <div class="col">
        <label for="workTeachings">Lärdomar</label>
        <textarea ngModel 
                  class="form-control" 
                  rows="2" 
                  id="workTeachings"
                  name="teachings" 
                  placeholder="Vad får studenten chans att lära sig under examensarbetet?">
        </textarea>
      </div>
    </div>

    <!-- contact-person -->
    <h4 id="contact-person-title">Kontaktperson</h4>

      <!-- firstname -->
      <div class="form-row">
        <div class="col">
          <label for="firstName">Förnamn</label>
          <input required 
                  #contactFirstName="ngModel" 
                  type="text" 
                  class="form-control" 
                  [(ngModel)]="fName" 
                  id="firstName" 
                  name="firstName">
          <div class="alert alert-danger" *ngIf="contactFirstName.touched && !contactFirstName.valid">Förnamn måste vara ifyllt</div>
        </div>

        <!-- last-name -->
        <div class="col">
          <label for="lastName">Efternamn</label>
            <input required 
                    #contactLastName="ngModel" 
                    type="text" 
                    class="form-control" 
                    [(ngModel)]="lName" 
                    id="lastName" 
                    name="lastName">
          <div class="alert alert-danger" *ngIf="contactLastName.touched && !contactLastName.valid">Efternamn måste vara ifyllt</div>
        </div>
      </div> <!-- /form-row -->

    <!-- phoneNumber -->
    <div class="form-row">
      <div class="col-4">
        <label for="phoneNumber">Telefon</label>
        <input required 
                #phoneNumber="ngModel" 
                type="text" 
                class="form-control" 
                [(ngModel)]="phoneNbr" 
                id="phoneNumber" 
                name="phoneNumber">
        <div class="alert alert-danger" *ngIf="phoneNumber.touched && !phoneNumber.valid">Telefonnummer måste vara ifyllt</div>
      </div>

    <!-- email -->
      <div class="col-6">
        <label for="contactEmail">E-postadress</label>
        <input required 
                #contactEmail="ngModel" 
                type="text" 
                class="form-control" 
                [(ngModel)]="email" 
                id="contactEmail" 
                name="contactEmail">
          <div class="alert alert-danger" *ngIf="contactEmail.touched && !contactEmail.valid">E-postadress måste vara ifyllt</div>
      </div>
    </div>
    
    <!-- Submit button -->
    <div class="row aligns-items-end">
      <div class="col col-sm-6">
        <button id="submit" 
                name="submit" 
                type="submit" 
                class="btn btn-primary">Publicera examensarbete
        </button>
      </div>
      
      <div class="col col-sm-6 align-self-end">
        <app-cancle></app-cancle>
      </div>
    </div>
  
  </form>
</div> <!-- /jumbotron -->
