$title-space: 1em;

h1, h4 {
    margin-bottom: $title-space;
}

.jumbotron {
    margin-right: 0em;
    .btn {
        margin-top: 4em;
    }
}

#contact-person-title {
    margin-top: ($title-space * 2);
}

.form-control.ng-touched.ng-invalid{
    border: 2px solid red;
}