<h1>Skapa annons för examensarbete</h1>
<div class="jumbotron">
  <h4>Fyll i information för examensarbetet</h4>
 
  <form #form="ngForm" (ngSubmit)="onSubmitAddExamWork(form.value)">

     <!-- title -->
  <div class="form-group">
    <label for="workTitle" class="col-sm-2 control-label">Titel</label>
    <div class="col-sm-10">
      <input ngModel 
              required 
              #workTitle="ngModel" 
              type="text" 
              class="form-control" 
              id="workTitle" 
              name="title" 
              value="">
      <div class="alert alert-danger" *ngIf="workTitle.touched && !workTitle.valid">Titel måste vara ifyllt</div>
    </div>
  </div>

  <!-- location -->
  <div class="form-group">
    <label for="workLocation" class="col-sm-2 control-label">Ort</label>
    <div class="col-sm-10">
      <input ngModel 
              required 
              #workLocation="ngModel" 
              type="text" 
              class="form-control" 
              id="workLocation" 
              name="location" 
              value="">
      <div class="alert alert-danger" *ngIf="workLocation.touched && !workLocation.valid">Ort måste vara ifyllt</div>
    </div>
  </div>

  <!-- apply-due-date -->
  <div class="form-group">
    <label for="workApplyDueDate" class="col-sm-10 control-label">Sista anmälningsdag</label>
    <div class="col-sm-10">
      <input ngModel 
              required 
              #workApplyDueDate="ngModel" 
              type="date" 
              class="form-control" 
              id="workApplyDueDate" 
              name="applyDueDate" 
              value="">
      <div class="alert alert-danger" *ngIf="workApplyDueDate.touched && !workApplyDueDate.valid">Sista anmälningsdag måste vara ifyllt</div>
    </div>
  </div>
  
  <app-add-student-skills></app-add-student-skills>

  <!-- description -->
  <div class="form-group">
    <label for="workDescription" class="col-sm-2 control-label">Beskrivning</label>
    <div class="col-sm-10">
      <textarea ngModel 
                class="form-control" 
                rows="4" 
                id="workDescription" 
                name="description">
    </textarea>
    </div>
  </div>

  <!-- teachings -->
  <div class="form-group">
    <label for="workTeachings" class="col-sm-2 control-label">Lärdomar</label>
    <div class="col-sm-10">
      <textarea ngModel 
                class="form-control" 
                rows="2" 
                id="workTeachings"
                name="teachings" 
                placeholder="Vad får studenten chans att lära sig under examensarbetet?">
    </textarea>
    </div>
  </div>

  <h4 id="contact-person-title">Kontaktperson</h4>
  <!-- Contact -->
  <div class="input-group">

    <!-- firstname -->
    <div class="form-group">
      <label for="firstName" class="col-sm-2 control-label">Förnamn</label>
      <div class="col-sm-10">
          <input required 
                  #contactFirstName="ngModel" 
                  type="text" 
                  class="form-control" 
                  [(ngModel)]="fName" 
                  id="firstName" 
                  name="firstName">
        <div class="alert alert-danger" *ngIf="contactFirstName.touched && !contactFirstName.valid">Förnamn måste vara ifyllt</div>
      </div>
    </div>

    <!-- last-name -->
    <div class="form-group">
      <label for="lastName" class="col-sm-2 control-label">Efternamn</label>
      <div class="col-sm-10">
          <input required 
                  #contactLastName="ngModel" 
                  type="text" 
                  class="form-control" 
                  [(ngModel)]="lName" 
                  id="lastName" 
                  name="lastName">
        <div class="alert alert-danger" *ngIf="contactLastName.touched && !contactLastName.valid">Efternamn måste vara ifyllt</div>
      </div>
    </div>

  </div>

  <!-- phoneNumber -->
  <div class="form-group">
    <label for="phoneNumber" class="col-sm-2 control-label">Telefon</label>
    <div class="col-sm-10">
        <input required 
                #phoneNumber="ngModel" 
                type="text" 
                class="form-control" 
                [(ngModel)]="phoneNbr" 
                id="phoneNumber" 
                name="phoneNumber">
      <div class="alert alert-danger" *ngIf="phoneNumber.touched && !phoneNumber.valid">Telefonnummer måste vara ifyllt</div>
    </div>
  </div>

  <!-- email -->
  <div class="form-group">
    <label for="contactEmail" class="col-sm-2 control-label">E-postadress</label>
    <div class="col-sm-10">
        <input required 
                #contactEmail="ngModel" 
                type="text" 
                class="form-control" 
                [(ngModel)]="email" 
                id="contactEmail" 
                name="contactEmail">
      <div class="alert alert-danger" *ngIf="contactEmail.touched && !contactEmail.valid">E-postadress måste vara ifyllt</div>
    </div>
  </div>

  <!-- Submit button -->
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <button id="submit" 
              name="submit" 
              type="submit" 
              class="btn btn-primary">Publicera examensarbete
    </button>
    </div>
  </div>
</form>
</div>
