<div class="row">
    <div class="col col-12">
        <h1 class="text-title">Företag - Hem</h1>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-sm-10">
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Publicerat examensarbete</h5>
                <p class="card-text">Tillfälliga knappar nu för att hantera länkar</p>
                <a routerLink="/company/exam-work/find-students" class="btn btn-primary">Gå till "Hitta studenter" sidan?</a>
                <a routerLink="/company/exam-work-dashboard/5af953b9e6f84b2aecce76fa" class="btn btn-primary">Gå till "Dashboard"</a>
            </div>

            <div class="card-footer">
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">22 dagar kvar</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center new-exam-work">
    <div class="col-sm-10">
        <a routerLink="/company/post-exam-work" type="button" class="btn btn-block btn-outline-success small">
            PUBLICERA NYTT EXAMENSARBETE</a>
    </div>
</div>