@import '../../../../../assets/scss/colors';

.tag {
    margin-right: 1%;
    margin-bottom: .6em;
}
.essential-tag {
    background-color: $primary !important;
}
.complimentary-tag {
    background-color: $secondary !important;
}