<base href="/">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container"> 

        <!-- Brand -->
        <span class="navbar-brand mb-0">First Contact</span>

        <!-- Toggler -->
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-label="Toggle navigation"
                [attr.aria-expanded]="!isCollapsed"
                (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Links -->
        <div class="collapse navbar-collapse"
                id="navbarSupportedContent"
                [ngClass]="{'show': !isCollapsed}">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a routerLink="/student-home" routerLinkActive="active" class="nav-link">Student Hem</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/company-home" routerLinkActive="active" class="nav-link">Företag Hem</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
    
    