<base href="/">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container"> 

        <!-- Brand -->
        <span class="navbar-brand mb-0">First Contact</span>

        <!-- Toggler -->
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-label="Toggle navigation"
                [attr.aria-expanded]="!isCollapsed"
                (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Links -->
        <div class="collapse navbar-collapse"
                id="navbarSupportedContent"
                [ngClass]="{'show': !isCollapsed}">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" *ngIf="isStudent">
                    <a routerLink="/student/home" routerLinkActive="active" class="nav-link">Hem</a>
                </li>
                <li class="nav-item" *ngIf="isCompany">
                    <a routerLink="/company/home" routerLinkActive="active" class="nav-link">Företag Hem</a>
                </li>
            </ul>
                
            <ul class="nav navbar-expand-lg">
                <!-- Student dropdown -->
                <li class="nav-item dropdown" *ngIf="isStudent">
                    <div class="btn-group float-right" dropdown>
                        <button id="button-basic" dropdownToggle 
                                type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
                                {{name}}<span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                            role="menu" aria-labelledby="button-basic">
                            <li role="menuitem">
                                <a  class="dropdown-item" routerLink="/student/profile">
                                    Min profil
                                </a>
                            </li>
                          <li role="menuitem"><a class="dropdown-item" routerLink="/student/profile/edit">Redigera profil</a></li>
                          <li class="divider dropdown-divider"></li>
                          <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logga ut</a>
                          </li>
                        </ul>
                    </div>
                </li>
                
                 <!-- Company dropdown -->
                <li class="nav-item dropdown" *ngIf="isCompany">
                    <div class="btn-group float-right" dropdown>
                        <button id="button-basic" dropdownToggle
                                type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
                                {{name}}<span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                            role="menu" aria-labelledby="button-basic">
                          <li role="menuitem">
                              <a class="dropdown-item" routerLink="/company/profile">
                                Företagsprofil
                              </a>
                            </li>
                          <li role="menuitem"><a class="dropdown-item" routerLink="/company/profile/edit">Redigera profil</a></li>
                          <li class="divider dropdown-divider"></li>
                          <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logga ut</a>
                          </li>
                        </ul>
                    </div>
                </li>
            </ul>

        </div> <!-- /navbar-collapse -->
    </div> <!-- /container -->
</nav>
    
    