<base href="/">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container"> 

        <!-- Brand -->
        <span class="navbar-brand mb-0">First Contact</span>

        <!-- Toggler -->
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-label="Toggle navigation"
                [attr.aria-expanded]="!isCollapsed"
                (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Links -->
        <div class="collapse navbar-collapse"
                id="navbarSupportedContent"
                [ngClass]="{'show': !isCollapsed}">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a routerLink="/student/home" routerLinkActive="active" class="nav-link">Student Hem</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/company/home" routerLinkActive="active" class="nav-link">Företag Hem</a>
                </li>
            </ul>
                
            <ul class="nav navbar-expand-lg">
                <!-- Student dropdown -->
                <li class="nav-item dropdown">
                    <div class="btn-group float-right" dropdown>
                        <button id="button-basic" dropdownToggle 
                                type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
                                Student Namn<span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                            role="menu" aria-labelledby="button-basic">
                          <li role="menuitem"><a class="dropdown-item" routerLink="/students/5aec68f586e32f2e804d4699">Min profil</a></li>
                          <li role="menuitem"><a class="dropdown-item" routerLink="/student/edit-profile">Redigera profil</a></li>
                          <li class="divider dropdown-divider"></li>
                          <li role="menuitem"><a class="dropdown-item" href="#">Logga ut</a>
                          </li>
                        </ul>
                    </div>
                </li>
                
                 <!-- Company dropdown -->
                <li class="nav-item dropdown">
                    <div class="btn-group float-right" dropdown>
                        <button id="button-basic" dropdownToggle 
                                type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
                                Företagsnamn<span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                            role="menu" aria-labelledby="button-basic">
                          <li role="menuitem"><a class="dropdown-item" routerLink="/company/profile">Företagsprofil</a></li>
                          <li role="menuitem"><a class="dropdown-item" routerLink="/company/edit-profile">Redigera profil</a></li>
                          <li class="divider dropdown-divider"></li>
                          <li role="menuitem"><a class="dropdown-item" href="#">Logga ut</a>
                          </li>
                        </ul>
                    </div>
                </li>
            </ul>

        </div> <!-- /navbar-collapse -->
    </div> <!-- /container -->
</nav>
    
    