<div class="jumbotron-search">
          <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups"></div>
                <div class="btn-group btn-group-lg" role="group" aria-label="First group">
                  <button type="button" class="btn-primary">Brand</button>
                  <button type="button" class="btn-primary">Link</button>
                  <button type="button" class="btn-primary">Link</button>
                  

                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Ämne
                        </button>

                        <div class="input-group">
                                <div class="input-group-prepend">

                                </div>
                                <input type="text" class="form-control" placeholder="Search" aria-label="Input group example" aria-describedby="btnGroupAddon">
                              </div>
            </div>

</div>

<div *ngFor="let examwork of examWorks; let i = index">
        <div class="jumbotron-fc">

            <div class="text-uppercase">
                    <h1 class="display-7">{{ examwork.title }}</h1>
            </div>
            <p class="display-6"> {{ examwork.description }} </p>

        </div>
</div>
