<!-- Title -->
<div class="row">
  <div class="col col-12">
    <h1>{{ examWork.title }}</h1>
  </div>
</div>

<div class="card">
  <div class="card-body">
  
    <div class="row">
      <div class="col col-6">
        <h5>Plats</h5>
        <p class="card-text">{{ examWork.location }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col col-10">
        <h5>Beskrivning</h5>
        <p class="card-text">{{ examWork.description }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col col-6">
        <h5>Grundläggande färdigheter</h5>
          <span *ngFor="let essentialSkill of examWork.essentialSkills"
                class="badge badge-primary">{{ essentialSkill }}&nbsp;
          </span>
      </div>
      <div class="col col-6">
        <h5>Komplementerande färdigheter</h5>
        <span *ngFor="let complementarySkill of examWork.complementarySkills"
              class="badge badge-secondary">{{ complementarySkill }}&nbsp;
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h5>Vad lär du dig?</h5>
        <p class="card-text">{{ examWork.teachings }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col col-6">
        <h6>Sista ansökningsdag</h6>
        <p class="card-text">{{ examWork.applyDueDate | date: 'longDate' : 'sv-SE' }}</p>
      </div>
    </div>

    <div class="row" style="padding-top:1em">
      <div class="col-auto mr-auto">
          <a class="btn btn-outline-primary"
             [routerLink]="['/company/exam-work/edit-exam-work', examWork._id]">
            <fa name="edit"></fa> Redigera
          </a>
      </div>
      <div class="col-auto">
          <button type="button" class="btn btn-outline-danger disabled">
            <fa name="trash"></fa> Ta bort
          </button>
      </div>
    </div>

  </div> <!-- /card-body -->
</div> <!-- card -->

<div class="row justify-content-center">


  <div class="col-sm-10" *ngIf="isEmpty">
      <br>
      <h3>
          Hittar inga studenter! Ta bort något nyckelord.
      </h3>
  </div>

<div class="row">
  <div class="col col-8">
    <h1 class="text-title">Studenter med matchande färdigheter till examensarbetet</h1>
  </div>
</div>
    
<div class="col-sm-10">
  <app-simple-tag></app-simple-tag>
</div>

<div class="row justify-content-center">
  <div class="col-sm-10" *ngFor="let student of sortedStudents | filter:tagSkills">
      <div class="card">
      <div class="card-body">

          <div class="row">
              <div class="col col-9">

                  <h6 class="card-subtitle mb-2 text-muted">{{student.name}}</h6>
                  <p class="card-text">
                      <small>
                          <li>
                                  {{student.description}}
                          </li>

                      </small>
                  </p>
                  <a [routerLink]="['/students', student._id]" class="btn btn-primary">Gå till profilsidan</a>
              </div>
              <div class="col col-3 center-content">
                  <img src="{{student.pictureURL}}" class="float-right">
              </div>
          </div>
      </div>
  </div>
</div>
<!-- <div class="col-sm-10" *ngIf="sortedStudents.length < showLimit">
  <div class="card">
      <div class="card-body">
          <div class="row">
              <div class="col">
                  <button class="btn btn-block"
                          (click)="showMoreStudents()">
                      Läs in fler
                  </button>
              </div>
          </div>
      </div>
  </div>
</div> -->

</div>          



<app-back></app-back>