body {
    position: relative;
}

.card {
    .badge {
        margin-left: 0.2em;
    }
    h4,h5,h6 {
        margin-top: 1em;
    }
    margin-bottom: 1em;
}

.img-circle {
    border-radius: 50% !important;
}

.text-title {
    margin-top: 3em;
}

.back-button {
    margin-top: 2em;
}